
.main-title{
color: white;
font-weight: bold;
font-size: 40px;
font-family: 'Courier New', Courier, monospace;
margin-left: 40px;
text-decoration: underline;

}


html{
  background-color: #494747;
}
#form{
  float: right;
  
}


.q{
 
  font-size: 25px;
  border-radius: 5px;
  display: block;
  border: #494747;
  margin-top: 10px;
  float: left;
  padding-right: 100px;
  margin-right: 20px;
}

.butt{
  color: white;
  font-size: 25px;
  border-radius: 5px;
  display: block;
  border-color:white;
  background-color: #494747;
  margin-top: 10px;
  float: left;
  margin-right: 40px;
  
}


